<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="https://dl.myket.ir/newresizing/resize/medium/png/icon/com.imessage.styleos11.applemessage_fdb234a6-23b4-4617-9d23-df423a27eb0e_.png" alt="logo" class="logo" />
    </div>
    <ul class="nav navbar-nav">
      <li><a  class="nav-link"routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a class="nav-link" routerLink="/feed">Feed</a> </li>      
    </ul>
    <div *ngIf="show; else signup" class="buttons">
        <button class= "btn btn-primary" routerLink="/users">My Account</button>
        &nbsp;&nbsp;&nbsp;
        <button class= "btn btn-warning" (click)= "logout()">Logout</button>
    </div>
    <ng-template #signup><div class="buttons"><button class= "btn btn-primary" routerLink="/signup">Signup</button></div></ng-template>
  </div>
</nav>